<h1>{{ titulo }}</h1>

<div class="row animated fade fadeIn" *ngIf="pelicula">

  <div class="col-sm-6">

    <div class="row">
      <div class="col-md-12 div-pic-1"
        [ngStyle]="{ 'background-image': 'url( '+ ( pelicula[0] | peliculaImagen ) +' )' }">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ ( pelicula[1] | peliculaImagen ) +' )' }">
        >
      </div>
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ ( pelicula[2] | peliculaImagen ) +' )' }">
        >
      </div>
    </div>

  </div>

  <div class="col-sm-6">


    <div class="row">
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ ( pelicula[3] | peliculaImagen ) +' )' }">
        >
      </div>
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ ( pelicula[4] | peliculaImagen ) +' )' }">
        >
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 div-pic-1"
        [ngStyle]="{ 'background-image': 'url( '+ ( pelicula[5] | peliculaImagen ) +' )' }">
      </div>
    </div>

  </div>
